footer {
    display: flex;
    justify-content: space-between;
    margin: 4% 2rem;
}

.about {
    max-width: 100%;
}

.footer-links {
    padding: 0;
    margin-top: 20px;
}

.footer-links a {
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    margin-top: 20px;
    display: inline-block;
    transition: 0.5s;
    transform: scale(1);
    border-bottom: 1px solid #A80E0E;

}


.grid-gallery {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: .25rem;
}

.grid-gallery img {
    width:110px;
}


/*tablet screens*/
@media only screen and (min-device-width: 500px) and (max-device-width: 1024px) {

    .about {
        max-width: 100%;
    }

    footer {
        display: block;
    }

    .useful-links {
        float: left;
    }

    .feeds {
        margin-left: auto;
        max-width: fit-content;
    }
} 


/*mobile screens*/
 @media only screen and (min-device-width: 300px) and (max-device-width: 499px) {

    .about {
        max-width: 100%;
    }
    .useful-links {
        float: none;
    }

    footer {
        display: block;
    }

    .grid-gallery {
        grid-template-columns: repeat(3, auto);

    }

    .grid-gallery img {
        width: 300px;
    }
}
