@import "./contact.css";
@import "./footer.css";
@import "./index/index.css";
@import "./detail/detail.css";


/*import google fonts*/

* {
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    font-family: Montserrat, sans-serif;
    font-weight: bolder;
}



h1,h2,h3,h4,h5,h6,button{
    font-family: "Roboto", sans-serif;
}
.container{
    margin: 0 10rem;
    position: relative;

}

nav{
    display: flex;
    justify-content: space-between;
    position: fixed;
    padding: 0;
    z-index: 200;
    top:20px;
    left: 10rem;
    right: 10rem;
}



ul{
    list-style: none;
}

nav{
    margin-bottom: 5rem;
}

nav img{
    max-width: 7rem;
}

.nav-links{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.nav-links a{
    padding: 15px 15px;
    background-color: #281923;
    opacity: 60%;
    font-weight: bold;
    color: #dedede;
    text-decoration: none;
    border-right: rgba(0,0,0,.5) 1px solid;
    transition: all 0.75s;
}

.nav-links a:hover{
    background-color: rgba(0,0,0,.7) ;
    opacity: 100%;
    color: white;
    border-top: 5px solid #ffaa00;
    border-right: rgba(0,0,0,.5) 1px solid;
}

.nav-links .red-link a{
    background-color: #A80E0E;
    opacity: 100%;
    border: none;
    color: white;
}

.nav-links .red-link a:hover{
    background-color: #8a0a0a;
    opacity: 100%;
    border: none;
    color: white;
}

section .title , footer .title{
    color:#A80E0E;
}


















section{
    margin-top: 3rem;
}

.icon{
    width:55px !important;
    height:55px !important;
    margin-right: 10px;
}





