
#Contact{
    width:100%;
    display:flex;
    background-color: #A80E0E;
    color: white;
    justify-content: space-between;
}

.info{
    width: 100%;
    margin-top: 2rem;
}

.info-item{
    width: 350px;
    margin: 60px auto;
    display: flex;
}

#Contact img{
    display:flex;
    font-weight: 200;
    width:50%;
}

.social {
    display: flex;
    justify-content:space-between ;
    color: white;
}
.social a{
    color: white;
    text-decoration: none;
}
