
.Testimonials-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Testimonials-content img{
    margin-right:2rem ;
}

#Testimonials .title{
    text-align: center;
}
#Testimonials img{
    max-height: 25rem ;
}

