table, th, td {
    border: 1px solid black;
}

/* meal info section */
#meal-info{
    margin-top:10rem;
}

.meal-img{
    margin-right: 2rem;
}
.flex{
    display:flex;
}

.flex p{
    width:20rem;
    text-align: left;
}

.flex div {
    width:100%;
}

.flex div >*{
    margin-top:1.5rem;
}

.quantity-buttons >*{
    background-color: transparent;
    border: #ffaa00 2px solid;
    color:#8a0a0a;
    padding:7px 15px;
    border-radius: 10px;
    font-size: 1rem;
}

.add-to-cart{
    background-color: #ffaa00;
    padding: 2px 30px;
    height: 2rem;
    align-self: flex-end;
    border-radius: 25px;
    border: none;
}

.quantity-buttons >*:hover,.add-to-cart:hover{
    cursor: pointer;
    background-color: #FFDD00 ;
}


#Description,#Description>*{
    margin-top: 2rem;
    text-align: left;
}
