table, th, td {
    border: 1px solid #DDD;
    border-collapse: collapse;
    height: 33px;
    
}
table{
    border-color: red ;

}
#detail-nav{
    background-color: #281923;
    opacity: 61%;
}
.img{
    margin: 2rem 2rem 2rem 0;
    max-height: 25rem;
    box-shadow: 0 10px 15px -2px rgba(0, 0, 0, 0.15);

}


/* meal info section */
#meal-info{
    margin-top:10rem;
}


.flex{
    display:flex;
}

.flex p{
    width:20rem;
    text-align: left;
}

.flex div {
    width:100%;
}

.flex div >*{
    margin-top:1.5rem;
}

.quantity-buttons >*{
    background-color: transparent;
    border: #ffaa00 2px solid;
    color:#8a0a0a;
    padding:7px 15px;
    border-radius: 10px;
    font-size: 1rem;
}

.yellow-button{
    background-color: #ffaa00;
    padding: 2px 30px;
    height: 2rem;
    align-self: flex-end;
    border-radius: 25px;
    border: none;
}



.quantity-buttons >*:hover,.yellow-button:hover{
    cursor: pointer;
    background-color: #FFDD00 ;
}

tr:hover {
    background-color: #DDD;
}
.row-coloring{
    background-color: #f2f2f2;
}


#Description,#Description>*{
    margin-top: 2rem;
    text-align: left;
}


/*review section*/
#review form {
    display: flex;
    flex-direction: column;
}

#review form > div {
    margin-top: 1.5rem;
}
#review form input,#review textarea  {
    display: block;
}

#review input[type="submit"]{
    color: white;
}

#review input[type="text"],#review textarea{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 0.5rem;
    background-color: #f2f2f2;
}

#review form input[type="text"]:focus,#review form textarea:focus{
   outline: none;
   background-color: white;
    border: 2px solid black;

}

