table, th, td {
    border: 1px solid black;
}
.img{
    margin: 2rem 2rem 2rem 0;
    max-height: 25rem;
}


/* meal info section */
#meal-info{
    margin-top:10rem;
}


.flex{
    display:flex;
}

.flex p{
    width:20rem;
    text-align: left;
}

.flex div {
    width:100%;
}

.flex div >*{
    margin-top:1.5rem;
}

.quantity-buttons >*{
    background-color: transparent;
    border: #ffaa00 2px solid;
    color:#8a0a0a;
    padding:7px 15px;
    border-radius: 10px;
    font-size: 1rem;
}

.add-button{
    background-color: #ffaa00;
    padding: 2px 30px;
    height: 2rem;
    align-self: flex-end;
    border-radius: 25px;
    border: none;
}



.quantity-buttons >*:hover,.add-button:hover{
    cursor: pointer;
    background-color: #FFDD00 ;
}


#Description,#Description>*{
    margin-top: 2rem;
    text-align: left;
}


/*review section*/
#review form {
    display: flex;
    flex-direction: column;
}

#review form > div {
    margin-top: 1.5rem;
}
#review form input,#review textarea  {
    display: block;
}

#review input[type="submit"]{
    color: white;
}

#review input[type="text"],#review textarea{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 0.5rem;
    background-color: #f0f0f0;
}

#review form input[type="text"]:focus,#review form textarea:focus{
   outline: none;
   background-color: white;
    border: 2px solid black;

}

